
body{
    background-color: rgb(176, 196, 222);
    color: rgb(102, 51, 153);
    font-family: "Edu NSW ACT Cursive", cursive;
    margin: 0px;
}
header{
    border-bottom: double 4px rgb(102, 51, 153);
    font-size: 40px;
    margin: 30px;
    text-align: center;
 }
h1{
    font-size: 30px;
    margin: 15px;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 20px;
    color: black;
    text-align: center;
    padding-top: 50px;
}
div{
    text-align: center;
}
.chamada-de-texto{
    margin-bottom: double 15px black;
    display:flexbox;
}
img{
    height: 200px;
    width: 150px;
}

